$primary-bg-color: #ffffff;
$secondary-bg-color: #e5e5e5;
$third-bg-color: #f4f4f4;
$txt-main-color: #333333;
$txt-second-color: #e9e9e9;
$txt-white-color: #ffffff;
$txt-input-color: #808080;
$accent-color: #28a745;
$blog-color: #0284d0;
$footer-bg-color: #333333;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$button-bg-color: #f5f4fa;

$social-link-color: #afb1b8;
$icon-white-color: #ffffff;

$time-transition: 300ms;
$time-transition-slow: 500ms;
$function-bezire: cubic-bezier(0.4, 0, 0.2, 1);
$subscribe-text-border-color: rgba(255, 255, 255, 0.3);

$main-font-family: 'Open Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-thin: 300;
$font-weight-medium: 500;

$font-size-secondary: 16px;

$width-mobile-version: 480px;
$width-tablet-version: 768px;
$width-desktop-version: 1360px;
