<section class="blog" id="blog">
  <div class="blog-container">
    <div>
      <picture>
        <source
          srcset="./images/blog/blog.webp 1x, ./images/blog/blog@2x.webp 2x"
          type="image/webp" />
        <source srcset="./images/blog/blog@2x.jpg 2x" type="image/jpg" />

        <img
          src="./images/blog/blog.jpg"
          alt="image of a desktop with a notebook a cup of tea and a tablet"
          width="320"
          height="247"
          class="blog__img"
      /></picture>
    </div>
    <div class="blog__description">
      <p class="blog__date">April 16 2020</p>
      <h2 class="blog__tittle">Blog Post One</h2>
      <div class="blog__text-content">
        <span class="blog__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </span>
        <button type="button" class="button hero__button blog__button">
          <i class="fas fa-angle-right button__arrow"></i>Read Our Blog
        </button>
      </div>
    </div>
  </div>
</section>
