<section class="callback-form">
  <div class="callback-container">
    <div class="callback-img__thumb">
      <picture>
        <source
          srcset="
            ./images/callback-form/contact.webp    1x,
            ./images/callback-form/contact@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="./images/callback-form/contact@2x.jpg 2x"
          type="image/jpg"
        />
        <img
          src="./images/callback-form/contact.jpg"
          alt="photo of man looking at laptop"
          width="320"
          height="220"
          class="callback-form__img"
        />
      </picture>
    </div>
    <div class="form-thumb">
      <h2 class="form-tittle">Request Callback</h2>
      <form autocomplete="on" data-netlify="true">
        <div class="form-inputs callback-name">
          <input
            type="text"
            name="name"
            id="callback-name"
            class="subscribe__text"
            placeholder=" "
          />
          <label for="callback-name" class="form__input-label"
            >Enter your name</label
          >
        </div>
        <div class="form-inputs callback-email">
          <input
            type="email"
            name="email"
            id="callback-email"
            class="subscribe__text"
            placeholder=" "
          />
          <label for="callback-email" class="form__input-label"
            >Enter email*</label
          >
          <div class="input__warning-message">
            <svg class="input__warning-icon" width="15" height="15">
              <use
                href="./images/callback-form/symbol-defs.svg#icon-worning"
              ></use>
            </svg>
            <p class="input__warning-text">This is a required field</p>
          </div>
        </div>

        <button
          type="submit"
          class="button hero__button callback__button"
          id="callback-btn"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
