<section class="examples" id="cases">
  <div class="container examples-container">
    <p class="examples__slogan">This is what we do</p>
    <h2 class="examples-gallery__tittle">Business Cases</h2>
    <div class="gallery-description">
      <span class="gallery-description__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </span>
    </div>
    <ul class="examples-cards list">
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases1@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <div>
            <picture>
              <source
                srcset="
                  ./images/examples/cases1.webp    1x,
                  ./images/examples/cases1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="./images/examples/cases1@2x.jpg 2x"
                type="image/jpg"
              />
              <img
                src="./images/examples/cases1.jpg"
                alt="The whole team at the table"
                width="264"
                height="176"
              />
            </picture>
          </div>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases2@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases2.webp    1x,
                ./images/examples/cases2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases2@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases2.jpg"
              alt="Woman at laptop"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases3@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases3.webp    1x,
                ./images/examples/cases3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases3@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases3.jpg"
              alt="Man writes in a notebook"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases4@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases4.webp    1x,
                ./images/examples/cases4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases4@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases4.jpg"
              alt="Three office buildings"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases5@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases5.webp    1x,
                ./images/examples/cases5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases5@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases5.jpg"
              alt="Successful completion of the transaction"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases6@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases6.webp    1x,
                ./images/examples/cases6@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases6@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases6.jpg"
              alt="Woman on the background of the team"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases7@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases7.webp    1x,
                ./images/examples/cases7@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases7@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases7.jpg"
              alt="Team call to action"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
      <li class="examples-cards__card">
        <a
          href="./images/examples/cases8@2x.jpg"
          data-lightbox="roadtrip"
          data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fugiat, dolore!"
        >
          <picture>
            <source
              srcset="
                ./images/examples/cases8.webp    1x,
                ./images/examples/cases8@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./images/examples/cases8@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./images/examples/cases8.jpg"
              alt="Woman smiling in the office"
              width="264"
              height="176"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
