<section class="features">
  <div class="features-container">
    <div>
      <picture>
        <source
          srcset="
            ./images/features/people.webp    1x,
            ./images/features/people@2x.webp 2x
          "
          type="image/webp" />
        <source srcset="./images/features/people@2x.jpg 2x" type="image/jpg" />
        <img
          src="./images/features/people.jpg"
          alt="photo of employees in the office"
          width="320"
          height="220"
          class="features__background-img"
      /></picture>
    </div>
    <div class="features-description">
      <p class="features-description__text">What you are looking for</p>
      <h2 class="features-description__tittle">We provide bespoke solutions</h2>
      <div class="features__text-content">
        <span class="features-description__question">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </span>
        <button
          type="button"
          class="hero__button features__button button"
          data-modal-open
        >
          <i class="fas fa-angle-right button__arrow"></i>Read More
        </button>
      </div>
    </div>
  </div>
</section>
