<footer class="footer" id="contact">
  <div class="container footer-container">
    <div>
      <ul class="list social-list">
        <li class="social-list__item">
          <a
            rel="nofollow noreferrer noopener"
            href="https://www.facebook.com"
            target="_blank"
            aria-label="facebook"
          >
            <div class="social-icon">
              <i class="fab fa-facebook icon-item"></i>
            </div>
          </a>
        </li>
        <li class="social-list__item">
          <a
            rel="nofollow noreferrer noopener"
            href="https://twitter.com"
            target="_blank"
            aria-label="twitter"
          >
            <div class="social-icon">
              <i class="fab fa-twitter icon-item"></i>
            </div>
          </a>
        </li>
        <li class="social-list__item youtube">
          <a
            rel="nofollow noreferrer noopener"
            href="https://www.youtube.com"
            target="_blank"
            aria-label="youtube"
          >
            <div class="social-icon youtube">
              <i class="fab fa-youtube icon-item youtube"></i>
            </div>
          </a>
        </li>
        <li class="social-list__item linkedin">
          <a
            rel="nofollow noreferrer noopener"
            href="https://www.linkedin.com"
            target="_blank"
            aria-label="linkedin"
          >
            <div class="social-icon linkedin">
              <i class="fab fa-linkedin-in icon-item linkedin"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-text">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
