<header class="header">
  <div class="container header__container">
    <nav class="site-nav">
      <a href="./index.html" class="logo__link">
        <i class="fas fa-book-open accent"></i
        ><span class="accent">Finance</span>Ledger
      </a>
      <ul class="site-nav__list list">
        <li class="nav-item">
          <a href="#home" class="site-nav__link link scroll-to">
            <span class="nav-link">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#about" class="site-nav__link link scroll-to"
            ><span class="nav-link">About</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#cases" class="site-nav__link link scroll-to"
            ><span class="nav-link">Cases</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#blog" class="site-nav__link link scroll-to"
            ><span class="nav-link">Blog</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#contact" class="site-nav__link link scroll-to"
            ><span class="nav-link">Contact</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
