<section class="section-studio" id="about">
  <h2 class="section-studio__tittle visually-hidden">
    Competitive advantages of the company
  </h2>
  <div class="container">
    <ul class="list advantages-list">
      <li class="advantages-list__item">
        <div class="studio__icon">
          <i class="fas fa-university icon-item"></i>
        </div>
        <h3 class="advantages__tittle">Investmant Banking</h3>
        <p class="advantages__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="advantages-list__item">
        <div class="studio__icon">
          <i class="fas fa-book-reader icon-item"></i>
        </div>
        <h3 class="advantages__tittle">Portfolio Manager</h3>
        <p class="advantages__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="advantages-list__item">
        <div class="studio__icon">
          <i class="fas fa-pencil-alt icon-item"></i>
        </div>
        <h3 class="advantages__tittle">Tax & Custudio</h3>
        <p class="advantages__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
