<section class="team">
  <div class="container team-container">
    <p class="team__text">Who we are</p>
    <h2 class="team__tittle">Our Professional Team</h2>
    <div class="team-description">
      <span class="team-description__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </span>
    </div>
    <ul class="list team-list">
      <li class="team-list__item">
        <div class="teammate-card">
          <picture>
            <source
              srcset="
                ./images/team/person1.webp    1x,
                ./images/team/person1@2x.webp 2x
              "
              type="image/webp"
            />
            <source srcset="./images/team/person1@2x.jpg 2x" type="image/jpg" />
            <img
              src="./images/team/person1.jpg"
              alt="Photo of John Doe"
              width="280"
              height="186"
            />
          </picture>

          <div class="card-overlay">
            <ul class="list team-social-list">
              <li class="team-social-list__item">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.facebook.com"
                  target="_blank"
                  aria-label="facebook"
                >
                  <div class="team-social-icon">
                    <i class="fab fa-facebook icon-item"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://twitter.com"
                  target="_blank"
                  aria-label="twitter"
                >
                  <div class="team-social-icon">
                    <i class="fab fa-twitter icon-item"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item team-youtube">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.youtube.com"
                  target="_blank"
                  aria-label="youtube"
                >
                  <div class="team-social-icon team-youtube">
                    <i class="fab fa-youtube icon-item team-youtube"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item team-linkedin">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.linkedin.com"
                  target="_blank"
                  aria-label="linkedin"
                >
                  <div class="team-social-icon team-linkedin">
                    <i class="fab fa-linkedin-in icon-item team-linkedin"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h3 class="teammate-card__person">John Doe</h3>
        <p class="teammate-card__profession">President</p>
      </li>
      <li class="team-list__item">
        <div class="teammate-card">
          <picture>
            <source
              srcset="
                ./images/team/person2.webp    1x,
                ./images/team/person2@2x.webp 2x
              "
              type="image/webp"
            />
            <source srcset="./images/team/person2@2x.jpg 2x" type="image/jpg" />
            <img
              src="./images/team/person2.jpg"
              alt="Photo of Jane Doe"
              width="280"
              height="186"
            />
          </picture>

          <div class="card-overlay">
            <ul class="list team-social-list">
              <li class="team-social-list__item">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.facebook.com"
                  target="_blank"
                  aria-label="facebook"
                >
                  <div class="team-social-icon">
                    <i class="fab fa-facebook icon-item"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://twitter.com"
                  target="_blank"
                  aria-label="twitter"
                >
                  <div class="team-social-icon">
                    <i class="fab fa-twitter icon-item"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item team-youtube">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.youtube.com"
                  target="_blank"
                  aria-label="youtube"
                >
                  <div class="team-social-icon team-youtube">
                    <i class="fab fa-youtube icon-item team-youtube"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item team-linkedin">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.linkedin.com"
                  target="_blank"
                  aria-label="linkedin"
                >
                  <div class="team-social-icon team-linkedin">
                    <i class="fab fa-linkedin-in icon-item team-linkedin"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="teammate-card__person">Jane Doe</h3>
        <p class="teammate-card__profession">Vice President</p>
      </li>
      <li class="team-list__item">
        <div class="teammate-card">
          <picture>
            <source
              srcset="
                ./images/team/person3.webp    1x,
                ./images/team/person3@2x.webp 2x
              "
              type="image/webp"
            />
            <source srcset="./images/team/person3@2x.jpg 2x" type="image/jpg" />
            <img
              src="./images/team/person3.jpg"
              alt="Photo of Steve Smith"
              width="280"
              height="186"
            />
          </picture>

          <div class="card-overlay">
            <ul class="list team-social-list">
              <li class="team-social-list__item">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.facebook.com"
                  target="_blank"
                  aria-label="facebook"
                >
                  <div class="team-social-icon">
                    <i class="fab fa-facebook icon-item"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://twitter.com"
                  target="_blank"
                  aria-label="twitter"
                >
                  <div class="team-social-icon">
                    <i class="fab fa-twitter icon-item"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item team-youtube">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.youtube.com"
                  target="_blank"
                  aria-label="youtube"
                >
                  <div class="team-social-icon team-youtube">
                    <i class="fab fa-youtube icon-item team-youtube"></i>
                  </div>
                </a>
              </li>
              <li class="team-social-list__item team-linkedin">
                <a
                  rel="nofollow noreferrer noopener"
                  href="https://www.linkedin.com"
                  target="_blank"
                  aria-label="linkedin"
                >
                  <div class="team-social-icon team-linkedin">
                    <i class="fab fa-linkedin-in icon-item team-linkedin"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="teammate-card__person">Steve Smith</h3>
        <p class="teammate-card__profession">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
