.team {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;

  @media screen and (min-width: $width-tablet-version) {
    padding-top: 48px;
    padding-bottom: 59px;
  }

  @media screen and (min-width: $width-desktop-version) {
    padding-top: 49px;
  }
}

.team-container {
  padding-left: 30px;
  padding-right: 30px;
}

.team__text {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 1.67;

  color: $txt-main-color;

  @media screen and (min-width: $width-tablet-version) {
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 1.65;
  }
}

.team__tittle {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.27;

  color: $txt-main-color;

  @media screen and (min-width: $width-desktop-version) {
    margin-bottom: 34px;
  }
}

.team-description {
  width: 207px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;

  @media screen and (min-width: $width-tablet-version) {
    width: 625px;
    margin-bottom: 49px;
  }

  @media screen and (min-width: $width-desktop-version) {
    width: 648px;
    margin-bottom: 45px;
  }
}

.team-description__text {
  font-size: 16px;
  line-height: 1.62;

  color: $txt-main-color;

  @media screen and (min-width: $width-tablet-version) {
    font-size: 17px;
    line-height: 1.65;
  }

  @media screen and (min-width: $width-desktop-version) {
    font-size: 18px;
    line-height: 1.55;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-list__item {
  // &:hover .card-overlay,
  // &:focus .card-overlay {
  //   opacity: 1;
  //   transform: scale(1.03);
  // }
}

.teammate-card {
  position: relative;
  overflow: hidden;

  margin-bottom: 15px;
  background-color: $third-bg-color;

  transition: transform $time-transition-slow;

  &:hover,
  &:focus {
    transform: scale(1.03);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  }

  &:hover .card-overlay,
  &:focus .card-overlay {
    opacity: 1;
    transform: scale(1.03);
  }

  & img {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: $width-tablet-version) {
    width: 223px;
    height: 148px;
  }

  @media screen and (min-width: $width-desktop-version) {
    width: 420px;
    height: 280px;

    margin-bottom: 11px;
  }
}

.card-overlay {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
  opacity: 0;

  transition: opacity $time-transition-slow;
}

.team-social-list {
  width: 166px;
  height: 30px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;

  :not(:last-child) {
    margin-right: 15px;
  }
}

.team-social-list__item {
  width: 30px;
  height: 30px;
}

.team-social-icon {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  .icon-item {
    font-size: 30px;

    margin-right: auto;
    margin-left: auto;

    color: $icon-white-color;
  }
}

.team-youtube {
  width: 33px;
}

.team-linkedin {
  width: 27px;
}

.teammate-card__person {
  margin: 0;
  margin-bottom: 11px;

  font-weight: normal;

  font-size: 23px;
  line-height: 1.26;

  color: $txt-main-color;

  @media screen and (min-width: $width-tablet-version) {
    margin-bottom: 12px;

    font-size: 25px;
    line-height: 1.28;
  }
}

.teammate-card__profession {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.62;

  color: $txt-main-color;

  @media screen and (min-width: $width-tablet-version) {
    font-size: 18px;
    line-height: 1.56;
  }
}
